<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Song Info</h1>

<h4><label>Name:</label></h4>
<%= @song.name %>

<h4><label>Artist:</label></h4>
<a href="/artists/<%= @song.artist.slug%>"><%= @song.artist.name %></a>

<h4><label>Genres:</label></h4>
<% @song.genres.each do |genre| %>
    <a href="/genres/<%= genre.slug %>"><li><%= genre.name %></a></li>
<% end %>


